SDC/EscBaileWebFakeClient/xml-resources/web-service-references/altaAlumno/wsdl/localhost_8080/EscBaileWeb/altaAlumno.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws_Mensaje/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws_Mensaje/">

<xs:element name="altaAlumno" type="tns:altaAlumno"/>

<xs:element name="altaAlumnoResponse" type="tns:altaAlumnoResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="altaAlumno">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apPat" type="xs:string" minOccurs="0"/>
<xs:element name="apMat" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="altaAlumnoResponse">
<xs:sequence>
<xs:element name="return" type="tns:clsMensaje" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clsMensaje">
<xs:sequence>
<xs:element name="blnRes" type="xs:boolean"/>
<xs:element name="intRes" type="xs:int"/>
<xs:element name="strCadenaResultado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>