SDC/Parcial_01/ClienteP/xml-resources/web-service-references/altaPedido/wsdl/localhost_8080/VtasOnlineWeb/altaPedido.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://wsVtasOnline/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://wsVtasOnline/">

<xs:element name="alta" type="tns:alta"/>

<xs:element name="altaResponse" type="tns:altaResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alta">
<xs:sequence>
<xs:element name="idCliente" type="xs:string" minOccurs="0"/>
<xs:element name="pedido" type="tns:clsPedido" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clsPedido">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="altaResponse">
<xs:sequence>
<xs:element name="return" type="tns:clsMensaje" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clsMensaje">
<xs:sequence>
<xs:element name="blnRes" type="xs:boolean"/>
<xs:element name="intRes" type="xs:int"/>
<xs:element name="strCadenaResultado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>